
<div class="jumbotron">
    <div class="container">
        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/user_group.png" /><br />จัดการผู้ใช้งาน
            </p>
        </div>

        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/note.png" /><br />ปรับปรุงสถานะใบงาน
            </p>
        </div><br /><br />

        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/search.png" /><br />องค์ความรู้
            </p>
        </div><br /><br />

        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/graph.png" /><br />รายงานปฏิบัติงาน
            </p>
        </div>
    </div>
</div>