<div class="jumbotron">
    <div class="container">
        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/user_group.png" /><br />
                   @Html.ActionLink("จัดการผู้ใช้งาน", "Index", "Account")          
            </p>
        </div>

        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/note.png" /><br />
                @Html.ActionLink("ปรับปรุงสถานะใบงาน", "Index", "Tickets")
            </p>
        </div><br /><br />

        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/search.png" /><br />
                @Html.ActionLink("องค์ความรู้", "Index", "Knowledgebases")
            </p>
        </div><br /><br />

        <div class="col-md-6">
            <p class="text-center">
                <img src="~/images/graph.png" /><br />
                @Html.ActionLink("รายงานปฏิบัติงาน", "", "")
            </p>
        </div>
    </div>
</div>