
@{
    ViewBag.Title = "AdminView";
}
<br />
<ol class="breadcrumb">
    <li><h3><b>เมนูหลัก</b></h3></li>
</ol>
<div class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <p class="text-center">
                    <img src="@Url.Content("~/images/user_group.png")" /><br />จัดการผู้ใช้งาน
                </p>
            </div>

            <div class="col-md-6">
                <p class="text-center">
                    <img src="@Url.Content("~/images/note.png")" /><br />ปรับปรุงสถานะใบงาน
                </p>
            </div>

            <div class="col-md-6">
                <p class="text-center">
                    <img src="@Url.Content("~/images/search.png")" /><br />องค์ความรู้
                </p>
            </div>
            <br />
            <br />
            <div class="col-md-6">
                <p class="text-center">
                    <img src="@Url.Content("~/images/graph.png")" /><br />รายงานปฏิบัติงาน
                </p>
            </div>
        </div>
    </div>
</div>

