
@{
    ViewBag.Title = "Menu";
}

<div class="row">
    <div class="col-md-12">
        <h2>Menu</h2>
        @if (User.IsInRole("เจ้าหน้าที่ไอที"))
        {
            @Html.Partial("_ITMenu")
        }
        else
        {
            @Html.Partial("_OtherMenu")
        }
    </div>
</div>


