
@{
    ViewBag.Title = "เมนูหลัก";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h3 class="page-header">เมนูหลัก</h3>
        </div>

        @if (User.IsInRole("เจ้าหน้าที่ไอที"))
        {
            @Html.Partial("_ITMenu")
        }
        else
        {
            @Html.Partial("_OtherMenu")
        }
    </div>
</div>


