
@{
    ViewBag.Title = "UserView";
}

<br />
<ol class="breadcrumb">
    <li><h3><b>เมนูหลัก</b></h3></li>
</ol>
<div class="jumbotron">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <p class="text-center">
                    <img src="@Url.Content("~/images/ticket.png")" /><br />สร้างใบงาน
                </p>
            </div>

            <div class="col-md-4">
                <p class="text-center">
                    <img src="@Url.Content("~/images/task_report.png")" /><br />ติดตามใบงาน
                </p><br />
            </div>

            <div class="col-md-4 col">
                <p class="text-center">
                    <img src="@Url.Content("~/images/search.png")" /><br />องค์ความรู้
                </p>
            </div>

        </div>
    </div>
</div>

