<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li>
            <span class="navbar-text"><b>ยินดีต้อนรับ</b>  @CurrentUser.GetFullName()</span>
        </li>
        <li>
            @Html.ActionLink("ออกจากระบบ", "Logout", "Account", null, null)
        </li>
        }
        else
        {
        <li>@Html.ActionLink("เข้าสู่ระบบ", "Login", "Account", null, null)</li>
        }
    </ul>
