<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
        <li>
            <span class="navbar-text">ยินดีต้อนรับ @CurrentUser.GetFullName()!</span>
        </li>
        <li>
            @Html.ActionLink("ออกจากระบบ", "Logout", "Account", null)
        </li>
        }
        else
        {
        <li>@Html.ActionLink("Log in", "Login", "Account", null)</li>
        }
    </ul>